
<!-- pregunta si errores existe con ?, si este existe entnces 
    aplique la propiedad length -->
<ul class="alert alert-danger"
    *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>

<div class="card bg-dark text-white">
    <div class="card-header"><h4 class="mt-3">{{ titulo }}</h4></div>
    <div class="card-body">

        <form #pacienteForm="ngForm">
            <div class="form-group row my-3">
                <label for="nombre" 
                    class="col-form-label col-sm-2">
                    Nombre
                </label>

                <!-- [(ngModel)] relaciona el valor con el atributo 
                     en ambas direcciones -->
                <!-- las directivas de required, minlenght, #nombre, *ngIf
                     son para validar los campos del formulario -->
                <div class="col-sm-6">
                    <input type="text" 
                        class="form-control" 
                        [(ngModel)]="paciente.nombre" 
                        name="nombre"
                        #nombre="ngModel">
                        <div class="alert alert-danger" 
                             *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                            <div *ngIf="nombre.errors?.['required']">
                                El nombre es requerido
                            </div>
                            <div *ngIf="nombre.errors?.['minlength']">
                                El nombre debe tener al menos 4 caracteres
                            </div>
                        </div>
                </div>
            </div>

            <div class="form-group row my-3">
                <label for="apellido" 
                    class="col-form-label col-sm-2">
                    Apellido
                </label>
                <div class="col-sm-6">
                    <input type="text" 
                        class="form-control" 
                        [(ngModel)]="paciente.apellido" 
                        name="apellido"
                        #apellido="ngModel">
                        <div class="alert alert-danger" 
                             *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                            <div *ngIf="apellido.errors?.['required']">
                                El apellido es requerido
                            </div>
                        </div>
                </div>
            </div>

            <div class="form-group row my-3">
                <label for="documento" 
                    class="col-form-label col-sm-2">
                    Documento Identidad
                </label>
                <div class="col-sm-6">
                    <input type="text" 
                        class="form-control" 
                        [(ngModel)]="paciente.documentoIdentidad" 
                        name="documento"
                        #documento="ngModel">
                        <div class="alert alert-danger" 
                             *ngIf="documento.invalid && (documento.dirty || documento.touched)">
                            <div *ngIf="documento.errors?.['required']">
                                El documento es requerido
                            </div>
                        </div>
                </div>
            </div>

            <div class="form-group row my-3">
                <label for="genero" 
                    class="col-form-label col-sm-2">
                    Genero
                </label>
                <div class="col-sm-6">
                    <input type="text" 
                        class="form-control" 
                        [(ngModel)]="paciente.genero" 
                        name="genero"
                        #genero="ngModel">
                </div>
            </div>

            <div class="form-group row my-3">
                <label for="lugarNacimiento" 
                    class="col-form-label col-sm-2">
                    Lugar de Nacimiento
                </label>
                <div class="col-sm-6">
                    <input type="text" 
                        class="form-control" 
                        [(ngModel)]="paciente.lugarNacimiento" 
                        name="lugarNacimiento"
                        #lugarNacimiento="ngModel">
                </div>
            </div>

            <div class="form-group row my-3">
                <label for="fechaNacimiento" 
                    class="col-form-label col-sm-2">
                    Fecha de Nacimiento
                </label>
                <div class="col-sm-6">
                    <input type="text" 
                        class="form-control" 
                        [(ngModel)]="paciente.fechaNacimiento" 
                        name="fechaNacimiento"
                        #fechaNacimiento="ngModel">
                </div>
            </div>

            <div class="form-group row my-3">
                <label for="tipoSangre" 
                    class="col-form-label col-sm-2">
                    Tipo de sangre
                </label>
                <div class="col-sm-6">
                    <input type="text" 
                        class="form-control" 
                        [(ngModel)]="paciente.tipoSangre" 
                        name="tipoSangre"
                        #tipoSangre="ngModel">
                </div>
            </div>

            <div class="form-group row my-3">
                <label for="eps" 
                    class="col-form-label col-sm-2">
                    Eps
                </label>
                <div class="col-sm-6">
                    <input type="text" 
                        class="form-control" 
                        [(ngModel)]="paciente.eps" 
                        name="eps"
                        #eps="ngModel">
                </div>
            </div>

            <div class="form-group row my-3">
                <label for="direccion" 
                    class="col-form-label col-sm-2">
                    Dirección
                </label>
                <div class="col-sm-6">
                    <input type="text" 
                        class="form-control" 
                        [(ngModel)]="paciente.direccion" 
                        name="direccion"
                        #direccion="ngModel">
                </div>
            </div>

            <div class="form-group row my-3">
                <label for="telefono" 
                    class="col-form-label col-sm-2">
                    Telefono
                </label>
                <div class="col-sm-6">
                    <input type="text" 
                        class="form-control" 
                        [(ngModel)]="paciente.telefono" 
                        name="telefono"
                        #telefono="ngModel">
                </div>
            </div>

            <div class="form-group row my-3">
                <label for="email" 
                    class="col-form-label col-sm-2">
                    Email
                </label>
                <div class="col-sm-6">
                    <input type="text" 
                        class="form-control" 
                        [(ngModel)]="paciente.email" 
                        name="email"
                        #email="ngModel">
                </div>
            </div>

            <div class="form-group row my-3">
                <label for="eps" 
                    class="col-form-label col-sm-2">
                    Estado civil
                </label>
                <div class="col-sm-6">
                    <input type="text" 
                        class="form-control" 
                        [(ngModel)]="paciente.estadoCivil" 
                        name="estadoCivil"
                        #estadoCivil="ngModel">
                </div>
            </div>

            <div class="form-group row my-2">
                <div class="col-sm-6">

                    <!-- (click) escucha el evento y cuando este ocurre llama
                          el metodo create() -->
                    <button class="btn btn-primary" 
                        role="button" 
                        (click)='createPaciente()' 
                        *ngIf="!paciente.id else elseBlock"
                        [disabled]="!pacienteForm.form.valid">
                        Crear
                    </button>

                    <ng-template #elseBlock>
                        <button class="btn btn-primary" 
                            role="button" 
                            (click)='updatePaciente()'
                            [disabled]="!pacienteForm.form.valid">
                            Editar
                        </button>
                    </ng-template>

                </div>
            </div>

        </form>

    </div>
</div>