
<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-white" routerLink="/inicio">
                    Inicio
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-white" routerLink="/pacientes">
                    Pacientes
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-white" routerLink="/especialistas">
                    Especialistas
                </a>
            </li>
        </ul>
    </div>
</nav>

