<div class="card bg-light" *ngIf="consulta">
    <div class="card-header">
        {{titulo}}: {{consulta.motivoConsulta}}
    </div>

    <div class="card-body">

        <h4 class="card-title">
            <a [routerLink]="['/pacientes']" class="btn btn-secondary btn-xs">
                &laquo; volver
            </a>
        </h4>

        <form>
            <div class="form-group row my-1" *ngIf="consulta.paciente">
                <label for="paciente" class="col-sm-2 col-form-label">Paciente</label>
                <div class="col-sm-6">
                    <input type="text"
                           name="paciente"
                           value="{{ consulta.paciente.nombre }} {{consulta.paciente.apellido}}"
                           class="form-control" disabled>
                </div>
            </div>

            <div class="form-group row my-2">
                <label for="motivo" class="col-sm-2 col-form-label">Motivo Consulta</label>
                <div class="col-sm-6">
                    <input type="text"
                           name="motivo"
                           [(ngModel)]="consulta.motivoConsulta"
                           class="form-control">
                </div>
            </div>

            <div class="form-group row my-2">
                <label for="motivo" class="col-sm-2 col-form-label">Alergias</label>
                <div class="col-sm-6">
                    <input type="text"
                           name="alergias"
                           [(ngModel)]="consulta.alergias"
                           class="form-control">
                </div>
            </div>

            <div class="form-group row my-2">
                <label for="motivo" class="col-sm-2 col-form-label">Patologias</label>
                <div class="col-sm-6">
                    <input type="text"
                           name="patologias"
                           [(ngModel)]="consulta.patologias"
                           class="form-control">
                </div>
            </div>

            <div class="form-group row my-2">
                <label for="motivo" class="col-sm-2 col-form-label">Patologias Familiares</label>
                <div class="col-sm-6">
                    <input type="text"
                           name="patologiasFamiliares"
                           [(ngModel)]="consulta.patologiasFamiliares"
                           class="form-control">
                </div>
            </div>

            <div class="form-group row my-2">
                <label for="motivo" class="col-sm-2 col-form-label">Medicamento</label>
                <div class="col-sm-6">
                    <input type="text"
                           name="medicamento"
                           [(ngModel)]="consulta.medicamento"
                           class="form-control">
                </div>
            </div>

            <div class="form-group row my-2">
                <label for="motivo" class="col-sm-2 col-form-label">Diagnostico</label>
                <div class="col-sm-6">
                    <input type="text"
                           name="diagnostico"
                           [(ngModel)]="consulta.diagnostico"
                           class="form-control">
                </div>
            </div>

            <div class="form-group row my-2">
                <label for="motivo" class="col-sm-2 col-form-label">Tratamiento</label>
                <div class="col-sm-6">
                    <input type="text"
                           name="tratamiento"
                           [(ngModel)]="consulta.tratamiento"
                           class="form-control">
                </div>
            </div>

            <div class="form-group row my-2">
                <label for="medico" 
                    class="col-form-label col-sm-2">
                    Médico
                </label>
                <div class="col-sm-6">
                    <select class="form-control"
                        [compareWith]="compararMedicos"
                        [(ngModel)]="consulta.medico" 
                        name="medico"
                        #medico="ngModel">
                            <option [ngValue]="undefined">
                                --- Seleccione un médico ---
                            </option>
                            <option *ngFor="let medico of medicos" 
                                [ngValue]="medico">
                                {{medico.nombre}} {{medico.apellido}} - {{medico.profesion}}
                            </option>
                    </select>
                </div>
            </div>


            <div class="form-group row my-2 mt-4">
                <div class="col-sm-6">
                    <input type="submit"
                            value="Crear Consulta"
                            class="btn btn-secondary"
                            (click)="createConsulta()">
                </div>
            </div>

        </form>

    </div>

</div>