
<div class="card bg-light" *ngIf="consulta">
    <div class="card-header">
        {{titulo}}: {{consulta.motivoConsulta}}
    </div>
    <div class="card-body">

        <h4 class="card-title">
            <a [routerLink]="['/pacientes']" class="btn btn-secondary btn-xs">
                &laquo; volver
            </a>
        </h4>

        <ul class="list-group my-2">
            <li class="list-group-item list-group-item-primary">Datos del paciente</li>
            <li class="list-group-item">Nombre: <strong>{{consulta.paciente.nombre}}</strong></li>
            <li class="list-group-item">Apellido: <strong>{{consulta.paciente.apellido}}</strong></li>
            <li class="list-group-item">Docuento de Identidad: <strong>{{consulta.paciente.documentoIdentidad}}</strong></li>
        </ul>

        <ul class="list-group my-2">
            <li class="list-group-item list-group-item-primary">Datos de la consulta</li>
            <li class="list-group-item">Motivo Consulta: <strong>{{consulta.motivoConsulta}}</strong></li>
            <li class="list-group-item">Fecha: <strong>{{consulta.createdAt}}</strong></li>
            <li class="list-group-item">Alergias: <strong>{{consulta.alergias}}</strong></li>
            <li class="list-group-item">Patologias: <strong>{{consulta.patologias}}</strong></li>
            <li class="list-group-item">Patologias Familiares: <strong>{{consulta.patologiasFamiliares}}</strong></li>
            <li class="list-group-item">Medicamento: <strong>{{consulta.medicamento}}</strong></li>
            <li class="list-group-item">Diagnostico: <strong>{{consulta.diagnostico}}</strong></li>
            <li class="list-group-item">Tratamiento: <strong>{{consulta.tratamiento}}</strong></li>
            <li class="list-group-item">Especialista: 
                <strong>{{consulta.medico.nombre}} {{consulta.medico.apellido}} - {{consulta.medico.profesion}}</strong>
            </li>
        </ul>

    </div>

</div>