<div class="container m-auto d-flex justify-content-center align-items-center">
    <div class="card border-secondary text-center">
        <div class="card-header bg-secondary">
        </div>
        <div class="card-body my-5">
            <h1 class="card-title">Sistema de Información</h1>
            <h3 class="card-text my-5">Hospital General del Meta</h3>
            <a routerLink="/pacientes" class="btn btn-primary me-3">Pacientes</a>
            <a routerLink="/especialistas" class="btn btn-primary">Especialistas</a>
        </div>
        <div class="card-footer bg-secondary">
        </div>
    </div>
</div>
